@font-face {
  font-family: "Breaf"; 
  src: url('@/assets/fonts/breaf-cyrillic.woff2') format("woff2"); 
  font-weight: 400; 
}

@font-face {
  font-family: "Anton"; 
  src: url('@/assets/fonts/Anton-Regular.ttf') format("truetype"); 
  font-weight: 400; 
}

@font-face {
  font-family: "Montserrat"; 
  src: url('@/assets/fonts/Montserrat-Regular.ttf') format("truetype"); 
  font-weight: 400; 
}

@font-face {
  font-family: "Montserrat"; 
  src: url('@/assets/fonts/Montserrat-Bold.ttf') format("truetype"); 
  font-weight: 700; 
}

